registry=https://registry.npmjs.org/
@cny-src:registry=https://pkgs.dev.azure.com/Tachyon-Systems/_packaging/cny-common/npm/registry/
@cny-common:registry=https://pkgs.dev.azure.com/Tachyon-Systems/_packaging/cny-common/npm/registry/
@cny-helpers:registry=https://pkgs.dev.azure.com/Tachyon-Systems/_packaging/cny-common/npm/registry/
@cny-globalservices:registry=https://pkgs.dev.azure.com/Tachyon-Systems/_packaging/cny-common/npm/registry/
@cny-discoveryservice:registry=https://pkgs.dev.azure.com/Tachyon-Systems/_packaging/cny-common/npm/registry/
@cny-cdk-stack:registry=https://pkgs.dev.azure.com/Tachyon-Systems/Deployment-modules/_packaging/cny-cdk-stacks/npm/registry/ 
@cny-api-codegen:registry=https://pkgs.dev.azure.com/Tachyon-Systems/_packaging/cny-common/npm/registry/

; begin auth token
//pkgs.dev.azure.com/Tachyon-Systems/_packaging/cny-common/npm/registry/:username=VssSessionToken
; This is an unencrypted authentication token. Treat it like a password. DO NOT share this value with anyone, including Microsoft support.
//pkgs.dev.azure.com/Tachyon-Systems/_packaging/cny-common/npm/registry/:_password=N3FuQUxFc2swMm9meDJBeEVVcVB1dVh3V2xwYTNXQk5SV2pxR3gxY2huQnRsRnlOYzAyVkpRUUo5OUJFQUNBQUFBQU1heTRXQUFBU0FaRE8yeFBC
; The npm client won't use username and _password without an email set, but the service doesn't use the email value. The following is an arbitrarily made-up address.
//pkgs.dev.azure.com/Tachyon-Systems/_packaging/cny-common/npm/registry/:email=not-used@example.com
//pkgs.dev.azure.com/Tachyon-Systems/Deployment-modules/_packaging/cny-cdk-stacks/npm/registry/:username=VssSessionToken
; This is an unencrypted authentication token. Treat it like a password. DO NOT share this value with anyone, including Microsoft support.
//pkgs.dev.azure.com/Tachyon-Systems/Deployment-modules/_packaging/cny-cdk-stacks/npm/registry/:_password=RU1Nb2VlNEk3eGN1SlRqRjhsZTFQU2pvbVhpRWhCV3JwZlFQckJlMnRtazlxZzdkSDd3d0pRUUo5OUJFQUNBQUFBQU1heTRXQUFBU0FaRE8zTFk3
; The npm client won't use username and _password without an email set, but the service doesn't use the email value. The following is an arbitrarily made-up address.
//pkgs.dev.azure.com/Tachyon-Systems/Deployment-modules/_packaging/cny-cdk-stacks/npm/registry/:email=not-used@example.com
//pkgs.dev.azure.com/Tachyon-Systems/playgrounds/_packaging/training-2024/npm/registry/:username=VssSessionToken
; This is an unencrypted authentication token. Treat it like a password. DO NOT share this value with anyone, including Microsoft support.
//pkgs.dev.azure.com/Tachyon-Systems/playgrounds/_packaging/training-2024/npm/registry/:_password=OHlvbXhXODR2a1BNVEo5WVI0U1h0VnpRNG1Mc2R2VktUUDZ6c3JkWEJ5c09RdVk1UnV1VkpRUUo5OUJGQUNBQUFBQU1heTRXQUFBU0FaRE80M2E5
; The npm client won't use username and _password without an email set, but the service doesn't use the email value. The following is an arbitrarily made-up address.
//pkgs.dev.azure.com/Tachyon-Systems/playgrounds/_packaging/training-2024/npm/registry/:email=not-used@example.com
; end auth token
